---
# Only the main Sass file needs font matter (the dashes are enough) 
--- 
@charset "utf-8";

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.site-title {
    font-weight: bold;
}

.site-nav {
    /* make menu appear under title */
    clear: left;
    float: none;
}
