---
# Only the main Sass file needs font matter (the dashes are enough)
---
@charset "utf-8";
@import "fonts";
@import "header";
@import "base";
@import "minima";

.site-nav {
    /* make menu appear under title */
    clear: left;
    float: none;
}

.footer {
    font-size: 0.85em;
    color: var(--text-color-light);
    text-align: center;
    line-height: $base-line-height;
    width: 100%;
    background-color: var(--hero-heading-color);
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.icons {
  font-size: 2.5rem;
}

.icons a {
  color: #000000; //Set the color to black for now, maybe change to theme color
}
